* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background-size: 250px;
  background-repeat: repeat;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./assets/8998c5cda3810c2ab27914eaa7f3aa6f.png);
  font-family: Montserrat;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  height: 60px;
}

.link {
  color: white;
  font-weight: 800;
}

.navImg {
  border: white solid 2px;
  border-radius: 16rem;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #000000;
}

main {
  height: calc(100% - 60px - 2rem);
  padding: 4rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  padding: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 2px;
  margin: 2rem;
  padding: 2rem;
}

.card img {
  border-radius: 60px;
  object-fit: cover;
  height: 120px;
  width: 120px;
}

.line {
  margin: 1rem;
  background-color: white;
  height: 2px;
  width: 30px;
}

.card h1 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
}

.card p {
  text-align: center;
  font-size: 0.7rem;
  padding: 1rem;
}

.card button {
  color: #9661e8;
  border: #000000 solid 2px;
  background-color: transparent;
  padding: 1rem;
}

.card button:hover {
  border: #9661e8 solid 2px;
}

.footer {
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #000000;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  color: white;
  font-size: 1rem;
}
